{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Rock Worthy API</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="{% static 'vendor/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
</head>
<body>

<div class="jumbotron">
  <h1 class="display-4">Rock Worthy API</h1>
</div>

{% block content %}{% endblock %}

<script src="{% static 'vendor/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bower_components/tether/dist/js/tether.min.js' %}"></script>
<script src="{% static 'vendor/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

</body>
</html>
